<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>SSG Build Performance Tests</title>

    <link rel="stylesheet" href="/css/bundle.css">
  </head>
  <body>
    {{ content | safe }}

    <script src="/js/bundle.js"></script>
  </body>
</html>
