---
layout: layout
---

<pre>
description: Computer
product: Droplet
vendor: DigitalOcean
version: 20171212
serial: 215123352
width: 64 bits
capabilities: smbios-2.4 dmi-2.4 smp vsyscall32
configuration: boot=normal family=DigitalOcean_Droplet uuid=83871BFD-8616-4FC8-B2DE-D43F2F2DE522
*-core
    description: Motherboard
    physical id: 0
  *-firmware
      description: BIOS
      vendor: DigitalOcean
      physical id: 0
      version: 20171212
      date: 12/12/2017
      size: 96KiB
  *-cpu:0
      description: CPU
      product: Intel(R) Xeon(R) Gold 6140 CPU @ 2.30GHz
      vendor: Intel Corp.
      physical id: 401
      bus info: cpu@0
      slot: CPU 1
      size: 2GHz
      capacity: 2GHz
      width: 64 bits
      capabilities: fpu fpu_exception wp vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ss syscall nx pdpe1gb rdtscp x86-64 constant_tsc arch_perfmon rep_good nopl cpuid tsc_known_freq pni pclmulqdq vmx ssse3 fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt tsc_deadline_timer aes xsave avx f16c rdrand hypervisor lahf_lm abm 3dnowprefetch cpuid_fault invpcid_single pti ssbd ibrs ibpb tpr_shadow vnmi flexpriority ept vpid ept_ad fsgsbase tsc_adjust bmi1 avx2 smep bmi2 erms invpcid mpx avx512f avx512dq rdseed adx smap clflushopt clwb avx512cd avx512bw avx512vl xsaveopt xsavec xgetbv1 pku ospke md_clear
  *-cpu:1
      description: CPU
      product: Intel(R) Xeon(R) Gold 6140 CPU @ 2.30GHz
      vendor: Intel Corp.
      physical id: 402
      bus info: cpu@1
      slot: CPU 2
      size: 2GHz
      capacity: 2GHz
      width: 64 bits
      capabilities: fpu fpu_exception wp vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ss syscall nx pdpe1gb rdtscp x86-64 constant_tsc arch_perfmon rep_good nopl cpuid tsc_known_freq pni pclmulqdq vmx ssse3 fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt tsc_deadline_timer aes xsave avx f16c rdrand hypervisor lahf_lm abm 3dnowprefetch cpuid_fault invpcid_single pti ssbd ibrs ibpb tpr_shadow vnmi flexpriority ept vpid ept_ad fsgsbase tsc_adjust bmi1 avx2 smep bmi2 erms invpcid mpx avx512f avx512dq rdseed adx smap clflushopt clwb avx512cd avx512bw avx512vl xsaveopt xsavec xgetbv1 pku ospke md_clear
  *-memory
      description: System Memory
      physical id: 1000
      size: 8GiB
      capabilities: ecc
      configuration: errordetection=multi-bit-ecc
    *-bank
          description: DIMM RAM
          physical id: 0
          slot: DIMM 0
          size: 8GiB
          width: 64 bits
  *-pci
      description: Host bridge
      product: 440FX - 82441FX PMC [Natoma]
      vendor: Intel Corporation
      physical id: 100
      bus info: pci@0000:00:00.0
      version: 02
      width: 32 bits
      clock: 33MHz
    *-isa
          description: ISA bridge
          product: 82371SB PIIX3 ISA [Natoma/Triton II]
          vendor: Intel Corporation
          physical id: 1
          bus info: pci@0000:00:01.0
          version: 00
          width: 32 bits
          clock: 33MHz
          capabilities: isa
          configuration: latency=0
    *-ide
          description: IDE interface
          product: 82371SB PIIX3 IDE [Natoma/Triton II]
          vendor: Intel Corporation
          physical id: 1.1
          bus info: pci@0000:00:01.1
          version: 00
          width: 32 bits
          clock: 33MHz
          capabilities: ide isa_compat_mode bus_master
          configuration: driver=ata_piix latency=0
          resources: irq:0 ioport:1f0(size=8) ioport:3f6 ioport:170(size=8) ioport:376 ioport:c120(size=16)
    *-usb
          description: USB controller
          product: 82371SB PIIX3 USB [Natoma/Triton II]
          vendor: Intel Corporation
          physical id: 1.2
          bus info: pci@0000:00:01.2
          version: 01
          width: 32 bits
          clock: 33MHz
          capabilities: uhci bus_master
          configuration: driver=uhci_hcd latency=0
          resources: irq:11 ioport:c080(size=32)
        *-usbhost
            product: UHCI Host Controller
            vendor: Linux 5.4.0-52-generic uhci_hcd
            physical id: 1
            bus info: usb@1
            logical name: usb1
            version: 5.04
            capabilities: usb-1.10
            configuration: driver=hub slots=2 speed=12Mbit/s
    *-bridge UNCLAIMED
          description: Bridge
          product: 82371AB/EB/MB PIIX4 ACPI
          vendor: Intel Corporation
          physical id: 1.3
          bus info: pci@0000:00:01.3
          version: 03
          width: 32 bits
          clock: 33MHz
          capabilities: bridge
          configuration: latency=0
    *-display UNCLAIMED
          description: VGA compatible controller
          product: QXL paravirtual graphic card
          vendor: Red Hat, Inc.
          physical id: 2
          bus info: pci@0000:00:02.0
          version: 04
          width: 32 bits
          clock: 33MHz
          capabilities: vga_controller
          configuration: latency=0
          resources: memory:f8000000-fbffffff memory:fc000000-fcffffff memory:fd010000-fd011fff ioport:c0a0(size=32) memory:c0000-dffff
    *-network:0
          description: Ethernet controller
          product: Virtio network device
          vendor: Red Hat, Inc.
          physical id: 3
          bus info: pci@0000:00:03.0
          version: 00
          width: 32 bits
          clock: 33MHz
          capabilities: msix bus_master cap_list
          configuration: driver=virtio-pci latency=0
          resources: irq:10 ioport:c0c0(size=32) memory:fd012000-fd012fff
        *-virtio0
            description: Ethernet interface
            physical id: 0
            bus info: virtio@0
            logical name: eth0
            serial: 0e:b7:90:80:cb:e8
            capabilities: ethernet physical
            configuration: autonegotiation=off broadcast=yes driver=virtio_net driverversion=1.0.0 ip=157.230.227.150 link=yes multicast=yes
    *-network:1
          description: Ethernet controller
          product: Virtio network device
          vendor: Red Hat, Inc.
          physical id: 4
          bus info: pci@0000:00:04.0
          version: 00
          width: 32 bits
          clock: 33MHz
          capabilities: msix bus_master cap_list
          configuration: driver=virtio-pci latency=0
          resources: irq:11 ioport:c0e0(size=32) memory:fd013000-fd013fff
        *-virtio1
            description: Ethernet interface
            physical id: 0
            bus info: virtio@1
            logical name: eth1
            serial: 72:9b:cc:fc:b3:81
            capabilities: ethernet physical
            configuration: autonegotiation=off broadcast=yes driver=virtio_net driverversion=1.0.0 ip=10.116.0.2 link=yes multicast=yes
    *-scsi:0
          description: SCSI storage controller
          product: Virtio SCSI
          vendor: Red Hat, Inc.
          physical id: 5
          bus info: pci@0000:00:05.0
          version: 00
          width: 32 bits
          clock: 33MHz
          capabilities: scsi msix bus_master cap_list
          configuration: driver=virtio-pci latency=0
          resources: irq:10 ioport:c000(size=64) memory:fd014000-fd014fff
        *-virtio2 UNCLAIMED
            description: Virtual I/O device
            physical id: 0
            bus info: virtio@2
            configuration: driver=virtio_scsi
    *-scsi:1
          description: SCSI storage controller
          product: Virtio block device
          vendor: Red Hat, Inc.
          physical id: 6
          bus info: pci@0000:00:06.0
          version: 00
          width: 32 bits
          clock: 33MHz
          capabilities: scsi msix bus_master cap_list
          configuration: driver=virtio-pci latency=0
          resources: irq:11 ioport:c040(size=64) memory:fd015000-fd015fff
        *-virtio3
            description: Virtual I/O device
            physical id: 0
            bus info: virtio@3
            logical name: /dev/vda
            size: 25GiB (26GB)
            capabilities: gpt-1.00 partitioned partitioned:gpt
            configuration: driver=virtio_blk guid=f33dcfdb-1a2f-47f3-b72a-f2e57ab638b2 logicalsectorsize=512 sectorsize=512
          *-volume:0
                description: EXT4 volume
                vendor: Linux
                physical id: 1
                bus info: virtio@3,1
                logical name: /dev/vda1
                logical name: /
                version: 1.0
                serial: db153994-91fe-426f-bd88-f751e07f97f2
                size: 24GiB
                capacity: 24GiB
                capabilities: journaled extended_attributes large_files huge_files dir_nlink recover 64bit extents ext4 ext2 initialized
                configuration: created=2020-10-16 21:49:40 filesystem=ext4 label=cloudimg-rootfs lastmountpoint=/ modified=2020-11-03 11:07:29 mount.fstype=ext4 mount.options=rw,relatime mounted=2020-11-06 14:06:29 state=mounted
          *-volume:1
                description: BIOS Boot partition
                vendor: EFI
                physical id: e
                bus info: virtio@3,14
                logical name: /dev/vda14
                serial: 67ee7e2f-4cf5-4a1c-89a9-40f806a70d10
                capacity: 4095KiB
                capabilities: nofs
          *-volume:2
                description: Windows FAT volume
                vendor: mkfs.fat
                physical id: f
                bus info: virtio@3,15
                logical name: /dev/vda15
                logical name: /boot/efi
                version: FAT32
                serial: 58a1-a55a
                size: 105MiB
                capacity: 105MiB
                capabilities: fat initialized
                configuration: FATs=2 filesystem=fat label=UEFI mount.fstype=vfat mount.options=rw,relatime,fmask=0022,dmask=0022,codepage=437,iocharset=iso8859-1,shortname=mixed,errors=remount-ro state=mounted
    *-generic
          description: Unclassified device
          product: Virtio memory balloon
          vendor: Red Hat, Inc.
          physical id: 7
          bus info: pci@0000:00:07.0
          version: 00
          width: 32 bits
          clock: 33MHz
          capabilities: bus_master
          configuration: driver=virtio-pci latency=0
          resources: irq:10 ioport:c100(size=32)
        *-virtio4 UNCLAIMED
            description: Virtual I/O device
            physical id: 0
            bus info: virtio@4
            configuration: driver=virtio_balloon
  *-pnp00:00
      product: PnP device PNP0b00
      physical id: 1
      capabilities: pnp
      configuration: driver=rtc_cmos
  *-pnp00:01
      product: PnP device PNP0303
      physical id: 2
      capabilities: pnp
      configuration: driver=i8042 kbd
  *-pnp00:02
      product: PnP device PNP0f13
      physical id: 3
      capabilities: pnp
      configuration: driver=i8042 aux
  *-pnp00:03
      product: PnP device PNP0700
      physical id: 4
      capabilities: pnp
  *-pnp00:04
      product: PnP device PNP0501
      physical id: 5
      capabilities: pnp
      configuration: driver=serial
</pre>
